fastapi
uvicorn[standard]
sqlmodel
langgraph
langchain-google-genai
langchain-core
python-dotenv
qdrant-client
pypdf
python-multipart
av
nvidia-riva-client
psycopg2-binary
supabase
razorpay
webrtcvad
setuptools==80.9.0
edge-tts
httpx
stripe
alembic
